body {
    font-family: Arial;
    background-image:
            url("https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

table {
    border-radius: 5px;
}

input[type=text], input[type=number], input[type=date] {
    font-family: Arial;
    text-align: center;
    font-size: medium;
    width: 150px;
    padding: 12px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

th {
    font-size: x-large;
}

span {
    color: #FFFFFF;
    font-size: xx-large;
    font-weight: bold;
    font-family: "Felix Titling";
}

h1 {
    margin: 0;
    color: #FFFFFF;
    text-align: center;
    font-size: xx-large;
}

h2 {
    color: #FFFFFF;
}

.inputDiv {
    margin-left: 200px;
}
.income {
    background-color: white;
    height: 80%;
    width: 40%;
    margin: 1%;
    position: relative;
    left: 150px;
    float: left;
    text-align: center;
    border-radius: 8px;
}

.expenses {
    background-color: white;
    height: 80%;
    width: 40%;
    margin: 1%;
    position: relative;
    right: 150px;
    float: right;
    text-align: center;
    border-radius: 8px;
}

.order {
    font-family: Arial  ;
    font-size: x-large;
}

.incomeDate {
    width: 20%;
    font-size: large;
}

.incomeTitle {
    width: 50%;
    font-weight: bold;
    font-size: x-large;
}

.incomeMoney {
    width: 70%;
    color: #32CD32;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.expensesDate {
    width: 20%;
    font-size: large;
}

.expensesTitle {
    width: 50%;
    font-weight: bold;
    font-size: x-large;
}

.expensesMoney {
    width: 70%;
    color: #FF0000;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.balanceDiv {
    position: absolute;
    top: 210px;
    right: 200px;
    height: 200px;
    width: 500px;
    background-color: white;
    border-radius: 8px;
}

.balanceText {
    position: relative;
    top: 20px;
    font-size: 30px;
    color: #077CC1;
}

.balanceMoney {
    position: relative;
    top: 20px;
    font-size: 80px;
    color: #077CC1;
}

